.cabeçalho_menu-hamburguer {
    width: 24px;
    height:24px;
    background-image: url("../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao:checked~.container__rotulo>.cabeçalho__menu-hamburguer {
  background-image:url("../img/Menu Aberto.svg");
}

.container__botao:chekcked~.container_rotulo{
  background: var(--azul-degrade);
}

.cabeçalho{
  background-color: var(--branco);
  display: fleux;
  justy-content: space-between;
  aling-items: center;
  position: relative;
}

.container{
  diplay: flex;
  aling-items: center;
}

.container__imagem{
  pading: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item{
   padding: 1em;
   background-color: var(--branco);
}

.lista-menu__titulo{
   color: var(--laranja);
   font-weight: 700;
}
